reddit_karma/reddit_user.pyc
reddit_karma/__pycache__/reddit_user.cpython-35.pyc
reddit_karma/__pycache__/reddit_user.cpython-36.pyc
reddit_karma/error-log.txt
reddit_karma/__pycache__/reddit_user.cpython-36.pyc
.vscode/settings.json
.vscode/launch.json
reddit_karma/todo.txt
.vscode/tasks.json
error-log.txt
